//-------------------------------------
// @GUTTER
//-------------------------------------

.l-gutter {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding-right: $spacing-whole;
  padding-left: $spacing-whole;
  display: flex;
  flex-flow: column nowrap;
}
