//-------------------------------------
// @MASONRY
//-------------------------------------

.l-masonry {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  overflow: auto;

  & > :last-child {
    position: relative;

    &::after {
      display: block;
      width: 1px;
      height: 1px;
      position: absolute;
      top: 0;
      left: 100%;
      visibility: hidden;
      content: "";
    }
  }
}
